# 编译产物
build/
cmake‑build‑*/
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll

# Qt生成文件
moc_*.cpp
qrc_*.cpp
*.ui

# IDE
.idea/
.vscode/
*.user
*.sln
*.vcxproj
*.vcxproj.filters

# 系统垃圾
.DS_Store
Thumbs.db


# Visual Studio 缓存与构建目录（本项目实际使用的路径）
.vs/
out/
*.db
*.ipch
*.sdf
*.opendb
*.suo
*.VC.db
*.VC.VC.opendb
CMakeCache.txt
CMakeFiles/
launch.vs.json
CMakeSettings.json